@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.footer-section{
    height: 280px;
    background-color: black;
}

.carousel-indicators{
    /* bottom: -20px; */
}

.carousel-item{
   
}

.carousel-caption{
    

}

.slider-img{
    width: 1440px;
    height: 584px;
}

.toast{
    /* position: absolute;  */
    bottom: 10px; 
    right: 10px;
}

.fa-gift{
    color: tomato;
}

.asking-clients{
    margin-bottom: 150px;
}

@media only screen and (max-width: 321px) {
    .carousel-caption {
        h1 {
            font-size: 1rem;
        }
    }
}