@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.logo-premier{
    color: black;
}

.slider-img{
    width: 1440px;
    height: 584px;
}

.toast{
    /* position: absolute;  */
    bottom: 10px; 
    right: 10px;
}

.accordion{
  background-color:#0d6efd;
  padding: 4px;
  border-radius: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}


.fa-gift{
    color: #dff1ff;
    color: tomato;
}

.asking-clients{
    margin-bottom: 150px;
}


/* footer section */

.footer-section{
    height: 280px;
    background-color: black;
}

.rights-para{
    margin-top: 10px;
}

.app-store{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0px;
	margin-top: 40px;
}
